--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.12.0+cpu

certifi
charset-normalizer
click
Flask
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
Pillow
regex
requests

tqdm
typing_extensions
urllib3
Werkzeug
zipp
gunicorn
