<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ricky Martin Personal Website</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Monday. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='chat_image/chatbox-icon.svg') }}" class="filter-blue" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>


<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
	<head>
		<title>Ricky Martin Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>

	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1><a href="">Ricky Martin</a></h1>
							<p></p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul class="nav__list">
								<li class="nav__item"><a href="#nav" class="nav__link">Home</a></li>
								<li class="nav__item"><a href="#home" class="nav__link">About me</a></li>
								<li class="nav__item"><a href="#main" class="nav__link">My Services</a></li>
								<li class="nav__item"><a href="resume" class="nav__link">Resume</a></li>
								<li class="nav__item"><a href="#footer" class="nav__link">Connect</a></li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="home" class="wrapper style1">
					<div class="title">Let me Introduce Myself</div>
					<div class="container">

						<a href="#" class="image featured">
							<img src="{{ url_for('static', filename='temp/intro1.JPG') }}" alt="" />
						</a>

						<p class="style1">Hello, my name is Ricky Martin, I am a professional Data Scientist currently
                            employed as a Mid-Level Machine Learning Engineer. I have over 5 years of professional 
                            applied experience and utilize my efforts best I can to work on projects that serve to 
                            benefit society.
						</p>

						<p class="style3">I recently graduated with a Bachelors Degree in Cognitive Science with a 
							specialization in Machine Learning and Neural Computation. My immediate goal in life
                            is to find a team that is working on state of the art technology where my knowledge and 
							skills as a programmer can be fully utilized, built upon, and tested. 
						</p>

						<p class="style3">When I am not hard at work I like 
							continuing my very important expedition to find New York's best coffee, 
							Crossing off bucket list tasks, or catching up on all the video games I keep swearing I 
							will have the time to play one day. 
						</p>
						
						</ul>
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">My Skills and Services</div>
					<div class="container">

						<!-- Image -->
							<a href="#" class="image featured">
								<img src="{{ url_for('static', filename='temp/code2.JPG') }}" alt="" />
							</a>

						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>Professional Skills</h2>
									<p>
										Showcase of skills developed in alignment with my passion for Technology
									</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-code">Programming</h3>
												<p>I am both knowledgeable and experienced in 
													using Python, SQL, and C++ personally and 
                                                    professionally. Through different projects I have also been 
													exposed to Java, javascript, css, Matlab, and C.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-sync">Computer Science Fundamentals</h3>
												<p>Having 5 years worth of CS related 
													experience, I possess a strong understanding of 
													concepts such as data Structures, Algorithms, space 
											       /time complexity, dynammic programming, and much more.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-infinity">Machine Learning</h3>
												<p>I am extremely confident in both understanding and 
                                                    utilization of many Machine Learning algorithms 
                                                    (supervised, unsupervised, Deep, and Reinforcement)
                                                    as well as different ML frameworks (Scikit-Learn, 
                                                    Tensorflow, OpenCV, Keras, etc.).</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
													<h3 class="icon solid fa-cogs">Applied Machine Learning</h3>
													<p>I have end-to-end experience taking Machine Learning 
                                                        algorithms out of jupyter notebooks and applying them
                                                        to different environment as needed. As evident of Flask/docker 
                                                        implementation of my chatbot.
                                                    </p>
												</section>
											</div>	
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-chart-line">Data Gathering and Cleaning</h3>
												<p>Within different positions and projects I have utilized data from online sources 
													(Kaggle, Github, UCI, etc.) but have also worked extensively with data personally 
													gathered (lead generation, live data, time-series data, web-scraping)</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-chart-bar">Data Modeling and Visulization</h3>
												<p>Within any ML focused position a strong 
													understanding of Data Analysis is imperative in 
													utilizing data in the most useful/info gathering 
													way. Data Vis tools such as Tableau, Matplotlib, or plotly are 
												essential tools for this.</p>
											</section>
										</div>
                                        <!--
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-space-shuttle">Mechatronics</h3>
												<p>Due to</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-microchip">Robotics</h3>
												<p>Having</p>
											</section>
										</div>
                                        */-->
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-cloud-upload-alt">Active Learner</h3>
												<p>With every job I do, there is always so 
													much to be learned. I believe in constantly learning and I 
													personally love the feeling of being completely 
													stumped by an assignment only to spend multiple 
													hours learning more just to figure it out. Within this 
													ever changing field, active learning and the ability to 
													teach myself all that is needed has been the one tool 
													I cherish most.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
										<section>
												<h3 class="icon solid fa-comment">Team Work</h3>
												<p>Most of the positions I have worked in, I have been a 
													part of a team. Through teamwork I have personally seen 
													the importance of working with others, not only in 
													allowing for a smoother workflow (ex. Agile), 
													but also to reach out and ask for help, or offer 
													assistance when needed. Having others around you 
													has actually become a very prominent tool I have 
													seen the importance of.</p>
											</section>
										</div>	
									</div>
								</div>
								<ul class="actions special">
									<li><a href="resume" class="button style2 large">Resume</a></li>
									<li><a href="https://github.com/RickyMartin-dev/" class="button style2 large">Github</a></li> 
								</ul>

							</section>

					</div>
				</section>

			<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="title">Contact Me</div>
					<div class="container">
						<header class="style1">
							<h2>Please Reach Out!</h2>
							<p>
								tldr: New York City based individual seeking local or remote opportunities in the field of 
								Artificial Intelligence, Computer Vision,Data Science, Machine Learning, 
								and/or Machine Learning. Please feel free to contact me 
								through any means listed below, Thank You.
							</p>
						</header>
						
						<!-- Contact -->
						<section class="feature-list small">
							<div class="row">

								<div class="col-6 col-12-small">
									<section>
										<h3 class="icon solid fa-phone">Contact</h3>
										<p>
											<a href="mailto:rickylenmartin@gmail.com"></a>rickylenmartin@gmail.com<br />
											<a href="#"></a><br />
											New York City, New York
										</p>
									</section>
								</div>

								

								<div class="col-6 col-12-small">
									<section>
										<h3 class="icon solid fa-comment">Social</h3>
										<p>
											<a href="https://github.com/RickyMartin-dev/">Github</a><br />
											<a href="https://www.linkedin.com/in/rickylm/" >LinkedIn</a><br />
										</p>
									</section>
								</div>

							</div>
						</section>

						<div id="copyright">
							<ul>
								<li>&copy;<a href="https://open.spotify.com/artist/7slfeZO9LsJbWgpkIoXBUJ">RickyMartin</a></li><li><a href="#home" class="icon solid fa-arrow-up"></a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</div>
				</section>
		</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>