<!DOCTYPE HTML>

<html>
	<head>
		<title>Ricky Martin Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>

	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1><a href="/">Ricky Martin</a></h1>
							<p></p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul class="nav__list">
								<li class="nav__item"><a href="/#nav" class="nav__link">Home</a></li>
								<li class="nav__item"><a href="/#home" class="nav__link">About me</a></li>
								<li class="nav__item"><a href="/#main" class="nav__link">My Services</a></li>

                                <!-- TEMPORARY
                                <li class="nav__item"><a href="index.html#highlights" class="nav__link">Projects</a></li>
								<li class="nav__item"><a href="Portfolio-blog.html" class="nav__link">Blog</a></li>
								<li class="nav__item"><a href="Portfolio-photography.html" class="nav__link">Photography</a></li>
								<li class="nav__item"><a href="Portfolio-misc.html" class="nav__link">Misc</a></li>
                                
                                -->

								<li class="nav__item"><a href="/#footer" class="nav__link">Connect</a></li>

                                
                                
							</ul>
						</nav>

				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">My Resume</div>
					<div class="container">

						<embed src="{{ url_for('static', filename='temp/Martin_Resume.pdf') }}" width="600px" height="1150px" class="center" />

					</div>
				</section>

			
			<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="title">Contact Me</div>
					<div class="container">
						<header class="style1">
							<h2>Please Reach Out!</h2>
							<p>
								tldr: New York City based individual seeking local or remote opportunities in the field of 
								Artificial Intelligence, Computer Vision,Data Science, Machine Learning, 
								and/or Machine Learning. Please feel free to contact me 
								through any means listed below, Thank You.
							</p>
						</header>
						
						<!-- Contact -->
						<section class="feature-list small">
							<div class="row">

								<div class="col-6 col-12-small">
									<section>
										<h3 class="icon solid fa-phone">Contact</h3>
										<p>
											<a href="MAILTO:rickylenmartin@gmail.com"></a>rickylenmartin@gmail.com<br />
											<a href="#"></a><br />
											New York City, New York
										</p>
									</section>
								</div>

								

								<div class="col-6 col-12-small">
									<section>
										<h3 class="icon solid fa-comment">Social</h3>
										<p>
											<a href="https://github.com/RickyMartin-dev/">Github</a><br />
											<a href="https://www.linkedin.com/in/rickylm/" >LinkedIn</a><br />
										</p>
									</section>
								</div>

							</div>
						</section>

						<div id="copyright">
							<ul>
								<li>&copy;<a href="https://open.spotify.com/artist/7slfeZO9LsJbWgpkIoXBUJ">RickyMartin</a></li><li><a href="resume.html" class="icon solid fa-arrow-up"></a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</div>
				</section>
		</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>